* {
    border: 1px solid red;
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
nav span {
    align-self: center;
    font-size: 3rem;
}
nav button {
    flex-grow: 0;
    align-self: center;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    background-image: linear-gradient(90deg, yellow, gold, yellow);
    font-weight: 700;
    color: black;
}
nav button:hover {
    background-image: linear-gradient(90deg, gold, yellow, gold);
}

/* style book container */

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: minmax(150px, 250px);
    width: 95%;
    min-height: 75%;
    margin: auto 16px;
    align-self: center;
    gap: 15px;
}

/* style Add book form */

.add-book-form  {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 25%;
    left: 45%;
    gap: 25px;

}

.add-book-form-hide {
    display: none;
}
.add-book-form  label {
    display: flex;
    justify-content: space-around;
}
.add-book-form div {
    display: flex;
    justify-content: end;
}
.add-book-form div .stop-add-book {
    justify-items: end;
}
.stop-add-book {
    background-color: inherit;
}