html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */;
    gap: 16px;
}
nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: sticky;
    top: 0px;
}
nav span {
    align-self: center;
    font-size: 3rem;
}
nav button {
    flex-grow: 0;
    align-self: center;
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
    background-image: linear-gradient(90deg, yellow, gold, yellow);
    font-weight: 700;
    color: black;
}
nav button:hover {
    background-image: linear-gradient(90deg, gold, yellow, gold);
}

/* style book container */

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(250px, 1fr);
    width: 95%;
    /* height: 100%; */
    justify-self: center;
    /* margin: auto 16px; */
    align-self: center;
    gap: 15px;
    background-color: greenyellow;
    border: 2px solid green;
    padding: 5px;
}

/* style Add book form */

.add-book-form  {
    position: fixed;
    top: 25%;
    left: 45%;
    gap: 25px;

}

.add-book-form form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    background-color: gray;
}
.add-book-form-hide {
    display: none;
}
.add-book-form  label {
    display: flex;
    justify-content: space-around;
}
.add-book-form div {
    display: flex;
    justify-content: end;
}
.add-book-form div .stop-add-book {
    justify-items: end;
}
.stop-add-book {
    background-color: inherit;
}

.add-book:active {
    background-color: blue;
}

/*book card*/

.card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-bottom: 8px;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid red;
}

#delete-book {
    justify-self: flex-end;
    justify-items: end;
    align-self: end;
    margin-top: 8px;
    margin-right: 8px;
    background-color: inherit;
}

#delete-book:active {
    background-color: blue;
}

#button-toggle {
    justify-self: center;
    align-self: center;
    width: 75px;
    height: 40px;
    border-radius: 15px;
}

/* dialog */

dialog form {
    display: flex;
    gap: 13px;
}

form button[value="cancel"] {
    background-color: red;
    border-radius: 8px;
}

form #confirmBtn {
    background-color: green;
    border-radius: 8px;
}

/* stylize card */

#name-book {
    font-family: "Dancing Script", serif;
    font-size: 1.3rem;
}

#author-name, #number-pages {
    font-family: "Pacifico", serif;
    font-weight: lighter;
}

#read-state {
    font-family: "Pacifico", serif;
    text-align: center;
}